.wrapper{
    display:flex;
    width:calc(100% - 30px);
    height:calc(100vh - 15px);
    position:relative;
    flex-direction: column; 
    align-items: center; 
    padding:15px;
    padding-top:0px;
}

body,head,html{
    overflow:hidden !important;
    padding:0;
    margin:0;
}

