#sidenav{
    width: 380px;
    height: 100vh;
    position: absolute;
}

.buttonholder{
  display:flex;
  gap: 5px;
}

.mat-mdc-standard-chip{
  border-radius:0 !important;
}

.mat-mdc-chip-set .mdc-evolution-chip{
  margin:0 !important;
  margin-top:4px;
}

::ng-deep
  .mdc-evolution-chip__action[aria-selected='true']
  .mdc-evolution-chip__graphic.mat-mdc-chip-graphic {
  display: none !important;
}

::ng-deep .mdc-evolution-chip__action[aria-selected='true'] {
  padding-left: 12px !important;
}

/* dropdown-menu.component.css */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-button {
  background-color:rgba(255,255,255,.5);
  color: white;
  font-size: 26px;
  cursor: pointer;
  border: 1px solid #000;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 0px;
  padding-top: 0px;
  margin-left: -4px;
  height: 31px;
}

.arrow {
  color:#000;
}

.dropdown-menu {
  position: absolute;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  min-width: 160px;
  border-radius: 4px;
  margin-top: 32px;
  right:25px;
  z-index:10000;
}

.dropdown-menu .dropdown-item {
  background-color: white;
  border: none;
  padding: 12px 16px;
  text-align: left;
  cursor: pointer;
  width: 100%;
  display: block;
  border-radius: 4px;
}

.dropdown-menu .dropdown-item:hover {
  background-color: #f1f1f1;
}

.dropdown .dropdown-menu.ng-trigger {
  display: block;
}

.sidemenu-button{
  width:35px;
  height:31px;
}

.sidemenu-button-collapse-position{
  margin-left:5px;
} 

.sidemenu-button-expand-position{
  margin-left:-5px;
}

.sidemenu-toggle{
  padding-left:8px;
  padding-right:10px;
  margin-top:3px;
}

.animatedsidenav {
  transition: max-width 0.3s ease, opacity 0.3s ease;
  overflow: hidden;
  opacity: 1;
}

.open {
  max-width: 350px; /* Or specify a fixed width if you want */
}

.closed {
  max-width: 75px;
}

.hideoptions{
  opacity:0;
}

.showoptions{
  opacity:1;
}

.showbutton{
  opacity:1;
}

.hidebutton{
  opacity:0;
}

.mat-tab-group {
  margin-bottom: 48px;
}

.newplanadd{
  float:right;
  display:flex;
  height:50px;
  margin-top:5px;
  button>div{
    font-size: 15px;
    color: #000;
    padding: 10px;
    font-weight: bolder;
    margin-top: -4px;
  }
}

.dropdown-new-menu {
  position: absolute;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  min-width: 160px;
  border-radius: 4px;
  top: 120px;
  left: 40px;
  z-index: 100;
  width: 750px !important;
  font-size:12px !important;
  height:150px;
}

.dropdown-new-menu>div{
  text-align:center;
  font-size:12px !important;
}

.dropdown-new-menu .dropdown-item {
  background-color: white;
  border: none;
  padding: 12px 16px;
  text-align: left;
  cursor: pointer;
  width: 100%;
  display: block;
  border-radius: 4px;
  font-size:12px !important;
}

.dropdown-new-menu .dropdown-item:hover {
  background-color: #f1f1f1;
}

/* Show dropdown menu when isOpen is true */
.dropdown .dropdown-new-menu.ng-trigger {
  display: block;
}

#newtreatmentplan{
  display:grid;
  height:10vh;
  width:100%;
  gap: 1px;
}

.planholder{
  width:100%;
  height:calc(100vh - 85px);
}

.nickname{
  border-top:1px solid rgba(0,0,0,.2);
  border-left:1px solid rgba(0,0,0,.2);
  border-bottom:1px solid rgba(0,0,0,.2);
}

.category{
  border-top:1px solid rgba(0,0,0,.2);
  border-left:1px solid rgba(0,0,0,.2);
  border-bottom:1px solid rgba(0,0,0,.2);
}

.access{
  border-top:1px solid rgba(0,0,0,.2);
  border-left:1px solid rgba(0,0,0,.2);
  border-bottom:1px solid rgba(0,0,0,.2);
}

.tlabel{
  height:30px;
  display:flex;
  vertical-align: middle;
  width: 100%;
  align-items: center;
  justify-content: center;
  font-size:12px;
}

#newtreatmentplanaction{
  height: 50px;
  width: 100%;
  bottom: -5px;
  position: absolute;
}

.newtreatmentplancancel{
  float:right;
}

.newtreatmentplansave{
  float:right;
}

// Manipulate initial background color
.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: white !important;
}

// Manipulate background color on hover and focus
.mat-mdc-form-field-focus-overlay {
  background-color: transparent !important;
}

.dentalCategories{
  width:100%;
}


mat-form-field {
  width: 100%;
}

.mat-mdc-select-panel{
  max-height: 80vh !important;
}

.treatmentoptionsholder{
  display:flex;
  cursor:default;
}

.treatmentoptionsholder:hover{
  cursor:pointer;
}

.treatmentselection{
  padding:5px;
}

.treatmentselection svg path{
   opacity:.8;  
   stroke-width: .5px;
}   

.treatmentname{
  padding: 10px;
  padding-top: 8px;
}

.treatmentdetails{
  overflow-y: auto;
  height: calc(100vh - 170px);
}

.treatmentcode{
  padding: 10px;
  padding-top: 8px;
}

.categorysearchinput{
  padding-left: 10px;
  padding-right: 10px;
  width: 88%;
}

.categorylistsearchinput{
  padding-left: 10px;
  padding-right: 10px;
  width: 94%;
}


.optionsWrapper{
  display:flex;
  height:30px;
}

.treatmentsearchinput{
   width:300px;  
}

.sortdropdown-button{
  width: 30px;
  height: 30px;

}

.sortdropdown-button-open{
  width: 30px;
  height: 30px;
  border: none;
}

.sortbutton{
  display:flex;
  cursor:default;
}

.sortbutton button{
  cursor:default;
}

.sortbutton button:hover{
  cursor:pointer;
}

.sortdropdown-button-open{
  border-radius:50%;
  background:blue;
}

.dropdown-sort-menu {
  position: absolute;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  min-width: 60px;
  border-radius: 4px;
  top: 180px;
  left: 300px;
  z-index: 10000;
}

.dropdown-sort-menu>div{
  text-align:center;
}

.dropdown-sort-menu .dropdown-item {
  background-color: white;
  border: none;
  padding: 12px 16px;
  text-align: left;
  cursor: pointer;
  width: 100%;
  display: block;
  border-radius: 4px;
}

.dropdown-sort-menu .dropdown-item:hover {
  background-color: #f1f1f1;
}

#selectoption{
  width:100% !important;
}  

#selectoption>span{
  display:flex !important;
  width:100% !important;
}

#selecticon{
  float:right !important;
  right:-90%;
}

.sortdropdownhighlight{
  border-radius: 50%;
  background: blue;
  opacity: 0.8;
  height: 30px;
}


.smallicon{
  width: 70px;
  height: 70px;
  position: absolute;
  padding-left:5px;
}

.security{
  display:flex;
}

.access{
  margin-top:0px;
}

.mainwrap{
  margin-left:10px;
  position:absolute;
}

.mainwrapminimized{

}

#scrollselect{
  overflow-y:auto !important;
  height:100%;
}

#searchbutton{
  position:absolute;
  right:-10px;
  top:-2px;
}
